* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lobbyTable {
  width: 500px;
}

.lobbyTable td {
  padding: 5px;
}
.lobbyTable thead {
  font-weight: bolder;
  font-size: 1.1em;
  background-color: rgb(60, 60, 116);
  color: whitesmoke;
}

.lobbyTable tbody tr:nth-child(odd) {
  background-color: rgb(139, 139, 199);
}

.lobbyTable tbody tr:nth-child(even) {
  background-color: rgb(202, 202, 243);
}

.lobbyTable tbody tr:hover {
  background-color: rgb(241, 198, 117);
}

.latencyGood {
  color: green;
}

.latencyOk {
  color: yellow;
}

.latencyBad {
  color: red;
}

.latencyGood, .latencyOk, .latencyBad, .players {
  font-weight: bold;
  text-align: right;
}